/* F O N T S */

@font-face {
	font-family: lato-light;
	src: url('Fonts/Lato-Light.ttf')
}

@font-face {
	font-family: lato-regular;
	src: url('Fonts/Lato-Regular.ttf')
}

@font-face {
	font-family: lato-medium;
	src: url('Fonts/Lato-Medium.ttf')
}

:root {
    
    /*  C O L O R S */
    
    --black:       #1A1A1A;
    --yellow:      #FFBD37;
    --green-light: #B5FFC5;
    --green-dark:  #3F7547;
    --white:       #F9F9F9;
    
    --storage:      #6BC7D6;    
    --spoil:        #C6586D;
    --community:    #6F459B;
    
    --meat: ;
    --veg: ;    
    --fruits:       #09C409;
    --grains: ;
    --meatalt:      #BA456A;
    --dairy: ;
    
/*    block content spacing margin */
    
    --blockMargin: 10px;
}

body{
    
}

.pagemain {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

#selections{
    float: right;
    width: 44%;
    margin-left: 2%;
}

#info{
    float: left;
    width: 54%;
    padding: 20px;
    background-color: #e3e4df64;
    border-radius: 25px;
    text-align: center;
    
}

#infoIntro{
    color: var(--white);
    padding: 10px;
    background-color: var(--green-dark);
    height: 100px;
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}

#infoMain{
    display: none;
}

.card-header{
    background-color: #1A1A1A;
    color: #F9F9F9;
    position: relative;
    margin-bottom: 4px;
}

.headerLine{
    top: 24%;
    right: 45px;
    width: 0px;
    height: 52%;
    position: absolute;    
    border-left: 1px solid var(--white);   
}

.card{
    background-color: transparent;
    border-style: hidden;
}

.accordion .card-header:after{
    font-family: 'FontAwesome';
    content: "\f106";
    float: right;
    //background-color: red;
    color: #F9F9F9;
}

.accordion .card-header.collapsed:after{
    content: "\f107";
}

.transparentBG{
    background-color: transparent;
}

.content{
    margin-bottom: var(--blockMargin);
    float: left; 
    width: 100%;    
    color: #F9F9F9;
}

.details:nth-child(1){
    float: left;
    width: 34%;
    font-family: lato-medium;
    font-size: 20px;
    margin-top: 13px;
    text-align: center;
    padding: 8px;
}

.details:nth-child(2){    
    padding: 15px;
    padding-left: 0;
    float: right;
    width: 66%;
    text-align: left;
}

/*  Storage   */

.storage{
    background-color: var(--storage);
}

/*  Cuisine  */

.cuisine{
    background-color: green;
}

/*  Spoil   */

.spoil{
    color: #F9F9F9;
    background-color: var(--spoil);
    margin-bottom: var(--blockMargin);
}

/*  Community   */

.community{    
    margin-bottom: var(--blockMargin);
}

.community div:nth-child(1){
    float: none;
    width: 100%;
    font-size: 15px;
}

.jumbotron {
    background-color: var(--community);
    color: #F9F9F9;
}

#commentInputContainer {
    margin-bottom: 1em;
}

#dateLeft {
    text-align: left;
    padding: 0;
}

#buttonGroup {
    padding: 0;
}

#buttonsUpDown {
    text-align: right;
}

.commentText {
    text-align: center;
    background-color: var(--community);
}

.mycolumn{
    width: 46%;
    margin-left: 2%;
    float:left;
    text-align:justify;
}

.mycolumn div:nth-child(1){
    margin-top: auto;
}

#mobileSelections {
    display: none;
}

.itemGroup{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.groupTitle{
    background-color: var(--black);
    color: var(--white);
    padding: 5px;
    padding-left: 10px;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

/*  S E L E C T I O N   I T E M S   &    F O O D   G R O U P S  */

.item {
    display: inline-block;
    margin: 2px;
    color: var(--white);
    margin-left: 1px;
    margin-right: 0px;
    padding: 6px;
    border-radius: 10px;    
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
}

.meat{
    background-color: darkred;
}
    
.veg{
    background-color: green;
}

.fruits{
    background-color: var(--fruits);
}

.grains{
    background-color: darkgoldenrod;
}

.meatalt{
    background-color: var(--meatalt);
}

.dairy{
    background-color: steelblue;
}

.item:hover, .item:focus{
    background-color: #E0E0E0;
    text-decoration:none;
    font-weight: bolder;
}

.item:hover{
    background-color: var(--white);
}

.meat:focus, .meat:hover{
    color: darkred;
}
    
.veg:focus, .veg:hover{
    color: green;
}

.fruits:focus, .fruits:hover{
    color: var(--fruits);
}

.grains:focus, .grains:hover{
    color: darkgoldenrod;
}

.meatalt:focus, .meatalt:hover{
    color: var(--meatalt);
}

.dairy:focus, .dairy:hover{
    color: steelblue;
}

.item span {
    margin-left: 5px;
}

.community {
    display: block;
}

/*   M O B I L E   S T Y L E   */

@media (max-width: 991px){
   .pagemain {
       margin-top: 5px;
       width: 100%;
    }
    #selections{
        float: none;
        width: 90vw;
        margin-bottom: 8px;
        margin-left: 20px;
    }
    #info {
        float: none;
        width: 85vw;
        margin: 0 auto;
    }
    .mycolumn{
        display: none;        
    }
    #mobileSelections{
        display: inline-block;
        
    }
    .groupTitle{
        display: none;
    }
    .mycolumn{
        width: auto;
        margin: auto;
        float: auto;
    }
    .item{
        
    }
    .item img{
        display: none;
    }
    #infoMain {
        height: auto;
    }    
}