#tips {
	color: gray
}

#demo {
	width: 50%;
	margin: 0 auto;

}

#num0,
#num1,
#num2,
#num3,
#num4,
#num5 {
	cursor: pointer;
}

#logo {
	width: 100px;
	height: 100px;
}

#foodTitle {
	font-size: 5vw;
}

#foodLogo {
	width: 8vw;
	height: 8vw;
}

.jumbotron {
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.5);
}

#pressGo {
	color: #3f7547;
}

#twitterFeed {
	background-color: #f9ffe8;
	background: rgba(255, 255, 255, 0.5);
}

#dontbespoiled {
	padding-left: 0px;
	padding-right: 0px;
}
