/* F O N T S */

@font-face {
	font-family: lato-light;
	src: url('Fonts/Lato-Light.ttf')
}

@font-face {
	font-family: lato-regular;
	src: url('Fonts/Lato-Regular.ttf')
}

@font-face {
	font-family: lato-medium;
	src: url('Fonts/Lato-Medium.ttf')
}

:root {
    
    /*  C O L O R S */
    
    --black:       #1A1A1A;
    --yellow:      #FFBD37;
    --green-light: #B5FFC5;
    --green-dark:  #3F7547;
    --white:       #F9F9F9;
    
    --storage:      #6BC7D6;    
    --spoil:        #C6586D;
    --community:    #6F459B;
    
/*    block content spacing margin */
    
    --blockMargin: 10px;
}

body{
    
}

.pagemain {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

#selections{
    float: right;
    width: 44%;
    margin-left: 2%;
}

#info{
    float: left;
    width: 54%;
    padding: 2%;
    background-color: #e3e4df;
    border-radius: 25px;
    text-align: center;
    
}

#infoIntro{
    color: var(--white);
    padding: 10px;
    background-color: var(--green-dark);
    height: 100px;
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
}

#infoMain{
    display: none;
}

.card-header{
    background-color: #1A1A1A;
    color: #F9F9F9;
    position: relative;
    margin-bottom: 4px;
}

.headerLine{
    top: 24%;
    right: 45px;
    width: 0px;
    height: 52%;
    position: absolute;    
    border-left: 1px solid var(--white);   
}

.card{
    background-color: transparent;
    border-style: hidden;
}

.accordion .card-header:after{
    font-family: 'FontAwesome';
    content: "\f106";
    float: right;
    //background-color: red;
    color: #F9F9F9;
}

.accordion .card-header.collapsed:after{
    content: "\f107";
}

.transparentBG{
    background-color: transparent;
}

.content{
    margin-bottom: var(--blockMargin);
    float: left; 
    width: 100%;    
    color: #F9F9F9;
}

.details:nth-child(1){
    float: left;
    width: 34%;
    font-family: lato-medium;
    font-size: 20px;
    margin-top: 12px;
    text-align: center;
}

.details:nth-child(2){    
    padding: 15px;
    float: right;
    width: 66%;
}

/*  Storage   */

.storage{
    background-color: var(--storage);
}

/*  Cusine  */

.cusine{
    background-color: green;
}

/*  Spoil   */

.spoil{
    color: #F9F9F9;
    background-color: var(--spoil);
    margin-bottom: var(--blockMargin);
}

/*  Community   */

.community{    
    margin-bottom: var(--blockMargin);
}

.community div:nth-child(1){
    float: none;
    width: 100%;
    font-size: 15px;
}

.jumbotron {
    background-color: var(--community);
    color: #F9F9F9;
}

.commentText {
    text-align: center;

    background-color: var(--community);


}

.mycolumn{
    width: 46%;
    margin-left: 2%;
    float:left;
    text-align:justify;
/*    background-color: pink;*/
}

.mycolumn div:nth-child(1){
    margin-top: auto;
}

#columnOne{
/*    background-color: red;*/
}

#columnTwo{
/*   background-color: greenyellow;*/
}

#mobileSelections {
/*    background-color: deepskyblue;*/
    display: none;
/*    visibility: none;*/
}

.itemGroup{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

/*
.groupTitle{
    
}
*/

.groupTitle{
    background-color: var(--black);
    color: var(--white);
    padding: 5px;
    padding-left: 10px;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.item {
    display: inline-block;
    margin: 10px;    
}

.item span {
    margin-left: 5px;
}



.community {
    display: block;
}

@media (max-width: 950px){
   .pagemain {
        width: 85vw;
    }
    #selections{
        float: none;
        width: auto;
        margin-left: -6vw; 
    }
    #info {
        float: none;
        width: auto;
    }
    .mycolumn{
        display: none;        
    }
    #mobileSelections{
        display: inline-block;
        width: 99vw;
        
    }
    .groupTitle{
        display: none;
    }
    .mycolumn{
        width: auto;
        margin: auto;
        float: auto;
    }
    .item{
        color: var(--white);
    }
    .item img{
        display: none;
    }
    #infoMain {
        height: auto;
    }
    .meat{
        background-color: darkred;
    }
    
    .veg{
        background-color: green;
    }
    
    .fruits{
        background-color: limegreen;
    }
    
    .grains{
        background-color: darkgoldenrod;
    }
    
    .meatalt{
        background-color: palevioletred;
    }
    
    .dairy{
        background-color: steelblue;
    }
}