.buttons::-webkit-scrollbar {
  display: none;
}

.buttons {
    /* Make this scrollable when needed */
    overflow-x: auto;
    /* We don't want vertical scrolling */
    overflow-y: hidden;
    /* Make an auto-hiding scroller for the 3 people using a IE */
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* For WebKit implementations, provide inertia scrolling */
    -webkit-overflow-scrolling: touch;
    /* We don't want internal inline elements to wrap */
    white-space: nowrap;
    /* Remove the default scrollbar for WebKit implementations */
}

#showall {
  width: 400px;
  height: 400px;
  display: inline-block;
  background-color: lightblue;
  margin: 10px 10px 0 10px;
}

.showSingle {
  width: 400px;
  height: 400px;
  display: inline-block;
  background-color: lightblue;
  margin: 10px 10px 0 10px;
}

/*********************************
                    Show All Div
*********************************/

#showall {
    font-size: large;
}

/*********************************
                        Meat Div
*********************************/

#meatTitle {
    margin: 15px 0 0 15px;
}

#meatUL {
    padding: 0 0 0 15px;
}

.meatLI {
    list-style-type: none;
    padding: 10px 0 10px 0px;
}

.myClass {
    background-color: lightgreen;
}

/*********************************
                    Vegetable Div
*********************************/

#veggieTitle {
    margin: 15px 0 0 15px;
}

#veggieUL {
    padding: 0 0 0 15px;
}

.veggieLI {
    list-style-type: none;
    padding: 10px 0 10px 0px;
}

/*********************************
                    Seafood Div
*********************************/

#seafoodTitle {
    margin: 15px 0 0 15px;
}

#seafoodUL {
    padding: 0 0 0 15px;
}

.seafoodLI {
    list-style-type: none;
    padding: 10px 0 10px 0px;
}

/*********************************
                    Bakery Div
*********************************/

#bakeTitle {
    margin: 15px 0 0 15px;
}

#bakeUL {
    padding: 0 0 0 15px;
}

.bakeLI {
    list-style-type: none;
    padding: 10px 0 10px 0px;
}
