      #goButton {
        position:relative;
        left:40%;
        width:7rem;
        height:7rem;
        color:#0F85D1;
        border:5px solid #0F85D1;
        background-color:transparent;
        cursor:pointer;
        line-height:2;
        padding:0;
        border-radius: 6rem;
        font-size:2rem;
        font-weight:bold;
        outline: none;
				margin: 0 auto;
      }
#tips {
	color: gray
}
body{
    background-color: #85C4ED;
}

#demo{
    width:50%;
	margin: 0 auto;
	
}

#num0, #num1, #num2, #num3, #num4, #num5{
    cursor:pointer;
}

#logo{
    width: 100px;
    height: 100px;
}

#foodTitle{
    font-size: 5vw;    
}

#foodLogo{
    width: 8vw;
    height: 8vw;
}