
#tips {
	color: gray
}
body{
    background-color: #85C4ED;
}

#demo{
    width:50%;
	margin: 0 auto;
	
}

#num0, #num1, #num2, #num3, #num4, #num5{
    cursor:pointer;
}

#logo{
    width: 100px;
    height: 100px;
}

#foodTitle{
    font-size: 5vw;    
}

#foodLogo{
    width: 8vw;
    height: 8vw;
}